[Unit]
Description=Run Palworld idle check periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=1min
AccuracySec=30s
Persistent=true
Unit=palworld-autostop.service

[Install]
WantedBy=timers.target
